{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<!-- Modais Editar/Capitão/Convite -->
<!-- ... (mantido como está, pois os textos já estão parcialmente dinamizados) ... -->

	<div class="jumbotron">
		<div class="container">
			<h1 id="team-id" team-id="{{ team.id }}">{{ team.name }}</h1>
			{% if team.oauth_id %}
				<a href="https://majorleaguecyber.org/t/{{ team.name }}">
					<h3><span class="badge badge-primary">{% trans %}Official{% endtrans %}</span></h3>
				</a>
			{% endif %}
			{% if team.affiliation %}
				<h3 class="d-inline-block">
					<span class="badge badge-primary">{{ team.affiliation }}</span>
				</h3>
			{% endif %}
			{% if team.country %}
				<h3 class="d-inline-block">
					<span class="badge badge-primary">
						<i class="flag-{{ team.country.lower() }}"></i>
						{{ lookup_country_code(team.country) }}
					</span>
				</h3>
			{% endif %}
			{% for field in team.fields %}
				<h3 class="d-block">
					{{ field.name }}: {{ field.value }}
				</h3>
			{% endfor %}
			<h2 id="team-place" class="text-center">
				{% if scores_visible() and place %}
					{{ place }}
					<small>{% trans %}place{% endtrans %}</small>
				{% endif %}
			</h2>
			<h2 id="team-score" class="text-center">
				{% if score %}
					{{ score }}
					<small>{% trans %}points{% endtrans %}</small>
				{% endif %}
			</h2>

			<!-- Ícones de ações de equipe -->
			<!-- ... (mantido com tooltips dinâmicos) ... -->

		</div>
	</div>

	<div class="container">
		{% include "components/errors.html" %}
		<br>

		<div class="row min-vh-25">
			<div class="col-md-12">
				<h3>{% trans %}Members{% endtrans %}</h3>
				<table class="table table-striped">
					<thead>
						<tr>
							<td><b>{% trans %}User Name{% endtrans %}</b></td>
							<td><b>{% trans %}Score{% endtrans %}</b></td>
						</tr>
					</thead>
					<tbody>
						{% for member in team.members %}
							<tr>
								<td>
									<a href="{{ url_for('users.public', user_id=member.id) }}">
										{{ member.name }}
									</a>
									{% if team.captain_id == member.id %}
										<span class="badge badge-primary ml-2">{% trans %}Captain{% endtrans %}</span>
									{% endif %}
								</td>
								<td>{{ member.score }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		{% if solves or awards %}
			<div class="row challenge-charts-box">
				<!-- Gráficos em spinner (mantidos) -->
			</div>

			{% if awards %}
				<div class="row">
					<div class="col-md-12">
						<h3>{% trans %}Awards{% endtrans %}</h3>
					</div>
					{% for award in awards %}
						<div class="col-md-3 col-sm-6">
							<p class="text-center">
								<i class="award-icon award-{{ award.icon }} fa-2x"></i><br>
								<strong>{{ award.name }}</strong>
							</p>
							{% if award.category %}<p class="text-center">{{ award.category }}</p>{% endif %}
							{% if award.description %}<p class="text-center">{{ award.description }}</p>{% endif %}
							<p class="text-center">{{ award.value }}</p>
						</div>
					{% endfor %}
				</div>
				<br>
			{% endif %}

			<div class="row">
				<div class="col-md-12">
					<h3>{% trans %}Solves{% endtrans %}</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<td><b>{% trans %}Challenge{% endtrans %}</b></td>
								<td class="d-none d-md-block d-lg-block"><b>{% trans %}Category{% endtrans %}</b></td>
								<td><b>{% trans %}Value{% endtrans %}</b></td>
								<td><b>{% trans %}Time{% endtrans %}</b></td>
							</tr>
						</thead>
						<tbody>
							{% for solve in solves %}
								<tr>
									<td>
										<a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}-{{ solve.challenge.id }}">
											{{ solve.challenge.name }}
										</a>
									</td>
									<td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td>
									<td>{{ solve.challenge.value }}</td>
									<td class="solve-time">
										<span data-time="{{ solve.date | isoformat }}">{{ solve.date }}</span>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% else %}
			<div class="row min-vh-25">
				<h3 class="opacity-50 text-center w-100 justify-content-center align-self-center">
					{% trans %}No solves yet{% endtrans %}
				</h3>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
<script>
	var stats_data = {{ {
		'type': 'team',
		'id': team.id,
		'name': team.name,
		'account_id': 'me',
	} | tojson }};
	var team_captain = {{ (user.id == team.captain_id) | tojson }};
</script>
<script defer src="{{ url_for('views.themes', path='js/echarts.bundle.js') }}"></script>
{% if solves or awards %}
	<script defer src="{{ url_for('views.themes', path='js/graphs.js') }}"></script>
	<script defer src="{{ url_for('views.themes', path='js/pages/stats.js') }}"></script>
{% endif %}
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/teams/private.js') }}"></script>
{% endblock %}
